

<h1>About</h1>
<p>
	Cupcake ipsum dolor sit amet. Marshmallow pie jelly beans tart dragée pie dragée chocolate bar. Lollipop marshmallow halvah cupcake. Tiramisu topping brownie sugar plum ice cream marzipan biscuit. Jelly beans bonbon pie sweet. Wafer sugar plum tart carrot cake cake cake dessert. Ice cream cupcake chocolate bar. Jelly-o caramels chocolate bar. Bear claw toffee unerdwear.
	This is the official first app of <%= link_to "Rodrigo Valades", "http://twitter.com/rvalades" %> using Ruby on Rails.
</p>

