<% if user_signed_in? %>
	<h1>You're logged in</h1>
<% else %>
	<div class="hero-unit">
		<h1>Welcome to my 1st App on RoR!</h1>
		<p>
			These are the first baby steps. Steps that remind me when I wrote the book <%= link_to "Ahorra algo hoy", "http://ahorraalgohoy.com" %>.
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>