<div class="hero-unit">
	<h1>Welcome to my first App on RoR!</h1>
	<p>
		Edit, you'll be very happy to see what I've done in this 
		<%= link_to "One Month Rails", "http://onemonthrails.com" %> course.
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#" %>
	</p>
</div>